

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 80%;
    height: 800px;
    position: absolute;
    top: 200px;
    left: 10%;
    transform: translate(0%,0%);
    box-sizing: border-box;  
    background-color: rgb(203, 208, 212, 0.7);
}
.heading{
    text-align: center;
    margin-top: 10px;

}
.image{
    width: 600px;
    height: 300px;
}