
<app-search></app-search>
<div class="box">
    <div class="flex-container">
        <!--box1-->
        <div class="flex-box">
            <img src="assets/angular.png" class="picture">
            <h6><b>Learing Advance Angular</b></h6>
           <label for="check" class="checked" value="rating" >4.5
        
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStarHalfStroke"></fa-icon>
        </label><br>
        <p><fa-icon [icon]="faIndianRupeeSign"></fa-icon>&nbsp;price: 4,299</p>
        <input type="submit" class="cart" value="view program">
        <button class="wishlist" type="submit"><fa-icon [icon]="faHeart"></fa-icon></button>
           </div>
    <!--box2-->
        <div class="flex-box">
            <img src="assets/python.jpeg" class="picture">
            <h6><b>Python for Beginners</b></h6>
            <label for="check" class="checked" value="rating" >3.5
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfStroke"></fa-icon>
            <fa-icon [icon]="faStar" class="star2"></fa-icon>
            </label><br>
            <p><fa-icon [icon]="faIndianRupeeSign"></fa-icon>&nbsp;price: 3,499</p>
            <input type="submit" class="cart" value="view program">
            <button class="wishlist" type="submit"><fa-icon [icon]="faHeart"></fa-icon></button>   
        </div>
        
    <!--box3-->
        <div class="flex-box">
            <img src="assets/java.jpeg" class="picture">
            <h6><b>Advance Java</b></h6>
            <label for="check" class="checked" value="rating" >4.0   
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar" class="star2"></fa-icon>
                </label><br>
                <p><fa-icon [icon]="faIndianRupeeSign"></fa-icon>&nbsp;price: 4,000</p>
                <input type="submit" class="cart" value="view program">
                <button class="wishlist" type="submit"><fa-icon [icon]="faHeart"></fa-icon></button>   
        </div>
    <!--box4-->
        <div class="flex-box">
            <img src="assets/sql.jpeg" class="picture">
            <h6><b>Sql for Beginners</b></h6>
            <label for="check" class="checked" value="rating" >3.5
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfStroke"></fa-icon>
                <fa-icon [icon]="faStar" class="star2"></fa-icon>
                </label><br>
                <p><fa-icon [icon]="faIndianRupeeSign"></fa-icon>&nbsp;price: 3,199</p>
                <input type="submit" class="cart" value="view program">
                <button class="wishlist" type="submit"><fa-icon [icon]="faHeart"></fa-icon></button>   
        </div>
    <!--box5-->
        <div class="flex-box">
            <img src="assets/html.jpeg" class="picture">
            <h6><b>Basic HTML & CSS  </b></h6>
            <label for="check" class="checked" value="rating" >3.0
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar" class="star2"></fa-icon>
            <fa-icon [icon]="faStar" class="star2"></fa-icon>
            </label><br>
            <p><fa-icon [icon]="faIndianRupeeSign"></fa-icon>&nbsp;price: 2,099</p>
            <input type="submit" class="cart" value="view program">
            <button class="wishlist" type="submit"><fa-icon [icon]="faHeart"></fa-icon></button>   
            
        </div>
    <!--box6-->
        <div class="flex-box">
            <img src="assets/javascript.jpg" class="picture">
            <h6><b>Advance javascript</b></h6>
            <label for="check" class="checked" value="rating" >4.0   
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar" class="star2"></fa-icon>
                </label><br>
                <p><fa-icon [icon]="faIndianRupeeSign"></fa-icon>&nbsp;price: 3,000</p>
                <input type="submit" class="cart" value="view program">
                <button class="wishlist" type="submit"><fa-icon [icon]="faHeart"></fa-icon></button>   
        </div>
    <!--box7-->
        <div class="flex-box">
            <img src="assets/c.jpeg" class="picture">
            <h6><b>Advance C Programming</b></h6>
            <label for="check" class="checked" value="rating" >3.5
            <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfStroke"></fa-icon>
                <fa-icon [icon]="faStar" class="star2"></fa-icon>
                </label><br>
                <p><fa-icon [icon]="faIndianRupeeSign"></fa-icon>&nbsp;price: 3,599</p>
                <input type="submit" class="cart" value="view program">
                <button class="wishlist" type="submit"><fa-icon [icon]="faHeart"></fa-icon></button>
        </div>
    <!--box8-->
        <div class="flex-box">
            <img src="assets/c++.png" class="picture">
            <h6><b>Basic C++ Programming</b></h6>
            <label for="check" class="checked" value="rating" >4.3
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfStroke"></fa-icon>
            </label><br>
            <p><fa-icon [icon]="faIndianRupeeSign"></fa-icon>&nbsp;price: 2,499</p>
            <input type="submit" class="cart" value="view program">
            <button class="wishlist" type="submit"><fa-icon [icon]="faHeart"></fa-icon></button> 
        </div>
    
    
    </div>
    </div>
    
    
    
    
    
    