<div class="box">
    <div class="flex-container">
         <!--box1-->
       <div class="flex-box">
        <img src="assets/A1.jpg" class="picture">
        <h4>Arijeet Sardar</h4>
        <p style="color: pink; font-size: large;">Associate Software Engineer</p><br><hr><br>
         <p class="before">Before
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            After</p>
         <p class="after">Freshers
            &nbsp; &nbsp;&nbsp;&nbsp;<fa-icon [icon]="faArrowRight"></fa-icon> &nbsp;&nbsp;&nbsp;
            Capgemini</p>
            <p style="color: gray;  font-size: larger;">Annual Salary Offered :</p>
            <p style="color: yellow; font-size: larger;">INR 12 LAKHS</p>

       </div>

       <!--box2-->
       <div class="flex-box">
        <img src="assets/A2.png" class="picture">
        <h4>Antara Mondal</h4>
        <p style="color: pink; font-size: large;">Frontend Developer</p><br><hr><br>
         <p class="before">Before
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            After</p>
         <p class="after">Freshers
            &nbsp; &nbsp;&nbsp;&nbsp;<fa-icon [icon]="faArrowRight"></fa-icon> &nbsp;&nbsp;&nbsp;
            Accenture</p>
            <p style="color: gray;  font-size: larger;">Annual Salary Offered :</p>
            <p style="color: yellow; font-size: larger;">INR 10 LAKHS</p>
       </div>

       <!--box3-->
       <div class="flex-box">
        <img src="assets/A3.jpg" class="picture">
        <h4>Sumana Bhattacharya</h4>
        <p style="color: pink; font-size: large;">Backend Developer</p><br><hr><br>
         <p class="before">Before
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            After</p>
         <p class="after">Freshers
            &nbsp; &nbsp;&nbsp;&nbsp;<fa-icon [icon]="faArrowRight"></fa-icon> &nbsp;&nbsp;&nbsp;
            J.P.Morgan</p>
            <p style="color: gray;  font-size: larger;">Annual Salary Offered :</p>
            <p style="color: yellow; font-size: larger;">INR 9.5 LAKHS</p>
       </div>

       <!--box4-->
       <div class="flex-box">
        <img src="assets/A4.jpg" class="picture">
        <h4>Susmita Das</h4>
        <p style="color: pink; font-size: large;">Software Tester</p><br><hr><br>
         <p class="before">Before
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            After</p>
         <p class="after">Freshers
            &nbsp; &nbsp;&nbsp;&nbsp;<fa-icon [icon]="faArrowRight"></fa-icon> &nbsp;&nbsp;&nbsp;
            Wipro</p>
            <p style="color: gray;  font-size: larger;">Annual Salary Offered :</p>
            <p style="color: yellow; font-size: larger;">INR 8 LAKHS</p>
       </div>

           
    </div>
</div>
<h1 class="header">Our Alumni Work in Top Companies</h1>
<div class="placemennt">
    <img src="assets/placement.png" class="photo">
</div>
