.glass{
    left: 93%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 18px;
    cursor: pointer;
    color: white;
}
.glass:hover{
    color: black;
}
.search-bar input[type="search"]{
    width: 500px;
    border: none;
    border-bottom:  1px solid white;
    outline: none;
    height: 42px;
    text-size-adjust: 40px;
    color:black;
}
.search-bar{
    width: 500px;
    height: 40px;
    background: rgba(70, 35, 55, 0.632);
    color: #fff;
    top: 100px;
    left: 48%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
  
}
